<div class="chart-title">
  <h3>Aliens Removed Or Returned</h3>
</div>
<div id="aliens-removed-or-returned" style="width: 100%; height: 500px">
  Aliens Removed Or Returned
</div>

<div class="chart-title">
  <h3>Aliens Removed By Country Of Nationality 2016</h3>
</div>
<div id="aliens-removed-by-country-of-nationality-2016" style="width: 100%; height: 500px">
  Aliens Removed By Country Of Nationality 2016
</div>

<div class="chart-title">
  <h3>Aliens Returned By Country Of Nationality 2016</h3>
</div>
<div id="aliens-returned-by-country-of-nationality-2016" style="width: 100%; height: 500px">
  Aliens Returned By Country Of Nationality 2016
</div>

<div class="chart-title chart-foot">
  <h4>* Chart is powered by Google Charts and data is provided by Department of Homeland Security</h4>
  For data details, go to
  <a href="https://www.dhs.gov/immigration-statistics/yearbook" target="_blank">
    https://www.dhs.gov/immigration-statistics/yearbook
  </a>
</div>
